*{
    padding: 0;
    margin: 0;
    font-size: 100%;
}
body{
    height: 100vh;
    min-height: 100vh;
}

.flex-container{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    background-color: pink;

    align-items: center;
    justify-content: center;
}

.flex-item{
    flex-basis: 101px;
    flex-shrink: 0;
    
    display: flex;

    width: 501px;
    

    align-items: center;
    justify-content: center;

}

.a{
    background-color: blue;
}
.b{
    background-color: green;
}
.c{
    background-color: yellow;
}
.d{
    background-color: cornflowerblue;
}
.e{
    background-color: darkgoldenrod;
}
.f{
    background-color: azure;
}