*{
    padding: 0;
    margin: 0;
    font-size: 100%;
}
body{
    height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container{
    height: 700px;
    width: 300px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: pink;

    align-items: center;
    justify-content: flex-start;
}

.flex-container div{
    width: 120px;
    margin: 0px;
    align-items: center;
    justify-content: center;
}
.flex-item{
    flex-basis: 120px;
    flex-shrink: 0;

    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.a{
    background-color: blue;
}
.b{
    background-color: green;
}
.c{
    background-color: yellow;
}
.d{
    background-color: cornflowerblue;
}
.e{
    background-color: darkgoldenrod;
}
.f{
    background-color: darkolivegreen;
}
.g{
    background-color: azure;
}